@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --primary: #A57F2F;
  --secondary: #051270;
  --foreground: 222 47% 11%;
  --background: 210 40% 98%;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.fugaz {
  font-family: "Fugaz One", sans-serif;
}

.cosmic-button {
  @apply flex gap-x-2 items-center px-5 py-2 border border-primary text-primary rounded-md hover:bg-primary hover:text-white transition-all duration-300
}

*  body{
  background: var(--background);
  color: var(--foreground);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  @apply scroll-smooth;
}

@utility text-glow {
  @apply relative;
  text-shadow: 0 0 10px rgba(165, 127, 47, 1);
}

.hidden-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scroll::-webkit-scrollbar {
  display: hidden;
}